main {
    min-height: calc(100vh - 160px);
  }
  .card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  .col-lg-4 {
    flex: 0 0 calc(33.333% - 1rem); 
    margin-right: 1rem; 
  }